body {
    padding: 0;
    margin: 0;
}

#sketch-holder {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#arrows-controller {
    display: flex;
    margin: 60px auto 0;
    width: 240px;
    height: 160px;
    flex-direction: row;
}

.arrows-column {
    display: flex;
    flex-direction: column-reverse;
}

.key-button {
    display: block;
    border: 1px solid darkorange;
    width: 69px;
    height: 69px;
    margin: 5px;
    cursor: pointer;
}

.key-button:hover {
    box-shadow: darkorange;
}

#map-holder {
    width: calc(100vw - 40px);
    height: calc(90vh - 40px);
    margin: 20px
}

#sport-content {
    display: block;
    margin: 50px auto;
    max-width: 60vw;
    min-width: 600px !important;
}

.navigation {
    display: inline-block;
    width: calc(100% - 20px);
    padding: 10px;
}

.navigation > * {
    margin: 10px;
}

#display-time-now {
    text-align: center;
    user-select: none;
    margin: 30px auto;
    color: #005555;
    font-size: 60px;
    font-family: Orbitron, serif;
    letter-spacing: 7px;
}

#display-last-check, #display-birthday, #display-halloween, #display-christmas {
    width: fit-content;
    block-size: fit-content;
    text-align: center;
    user-select: none;
    margin: 20px auto;
    color: #640032;
    font-size: 30px;
    font-family: Orbitron, serif;
    letter-spacing: 4px;
}