body {
    padding: 0;
    margin: 0;
}

#sketch-holder {
    padding: 40px;
    display: inline-block;
}

#map-holder{
    width: calc(100vw - 40px);
    height: calc(90vh - 40px);
    margin: 20px
}

#sport-content{
    display: block;
    margin: 50px auto ;
    max-width: 60vw;
    min-width: 600px !important;
}

.navigation{
    display: inline-block;
    width: calc(100% - 20px);
    padding: 10px;
}

.navigation > * {
    margin: 10px;
}