<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="../scripts/chronos.js"></script>
    <link rel="icon" type="image/x-icon" href="../icons/C.ico">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Chronos</title>
</head>
<body onload="showDate(); showTime(); showTimers();">
<div class="navigation">
    <a href="../index.html">N</a>
    <a href="page2.html">H</a>
    <a href="page3.html">G</a>
    <a href="page4.html">S</a>
    <a href="page5.html">C</a>
</div>
<div id="display-date-now"></div>
<div id="display-time-now"></div>
<div id="display-last-check"></div>
<div id="display-halloween"></div>
<div id="display-christmas"></div>
<div id="display-birthday"></div>
</body>
</html>