<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../styles/style.css">
    <meta charset="UTF-8">
    <title>Games block</title>
    <link rel="icon" type="image/x-icon" href="../icons/G.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="../scripts/p5.min.js"></script>
    <script src="../scripts/sketch.js"></script>
</head>
<body>
<div class="navigation">
    <a href="../index.html">N</a>
    <a href="page2.html">H</a>
    <a href="page3.html">G</a>
    <a href="page4.html">S</a>
</div>
<div id="sketch-holder"></div>
<div id="arrows-controller">
    <div class="arrows-column">
        <div class="key-button" onclick="keyPressed({keyCode:KC_LEFT})">Left</div>
        <div ></div>
    </div>
    <div class="arrows-column">
        <div class="key-button" onclick="keyPressed({keyCode:KC_DOWN})">Down</div>
        <div class="key-button" onclick="keyPressed({keyCode:KC_UP})">Up</div>
    </div>
    <div class="arrows-column">
        <div class="key-button"  onclick="keyPressed({keyCode:KC_RIGHT})">Right</div>
        <div ></div>
    </div>
</div>
</body>
</html>