<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../styles/style.css">
    <meta charset="UTF-8">
    <title>Sport data</title>
    <link rel="icon" type="image/x-icon" href="../icons/S.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script
            type="application/javascript"
            src="https://widgets.sir.sportradar.com/sportradar/widgetloader"
            data-sr-language="en" async
    ></script>
</head>
<body>
    <div class="navigation">
        <a href="../index.html">N</a>
        <a href="page2.html">H</a>
        <a href="page3.html">G</a>
        <a href="page4.html">S</a>
    </div>
    <div id="sport-content">
        <div id="sr-widget" data-sr-widget="match.matchList" data-sr-sport-id="2"></div>
    </div>
</body>
</html>