<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../styles/style.css">
    <meta charset="UTF-8">
    <title>Sport data</title>
    <link rel="icon" type="image/x-icon" href="../icons/S.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script
            type="module"
            src="https://widgets.api-sports.io/2.0.3/widgets.js">
    </script>
</head>
<body>
    <div class="navigation">
        <a href="../index.html">N</a>
        <a href="page2.html">H</a>
        <a href="page3.html">G</a>
        <a href="page4.html">S</a>
        <a href="page5.html">C</a>
    </div>
    <div id="sport-content">
        <div id="wg-api-football-games"
             data-host="v3.football.api-sports.io"
             data-key="21268e4b7e2e9cc3ac29aad897b24d54"
             data-date=""
             data-league=""
             data-season=""
             data-theme=""
             data-refresh="60"
             data-show-toolbar="true"
             data-show-errors="false"
             data-show-logos="true"
             data-modal-game="true"
             data-modal-standings="true"
             data-modal-show-logos="true">
        </div>
    </div>
</body>
</html>